@keyframes rotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
.wave {
  position: relative;
  margin-top: -9px;
}
.wave .block {
  width: 100%;
  height: 49px;
  background-color: #121212;
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 7;
}
@media only screen and (max-width: 700px) {
  .wave .block {
    height: 48px;
  }
}
@media only screen and (max-width: 540px) {
  .wave .block {
    display: none;
  }
}
.wave .fill1 {
  position: absolute;
  right: 0;
  top: 45px;
  background-color: #121212;
  height: 10px;
  z-index: 10;
  width: 13%;
}
@media only screen and (max-width: 540px) {
  .wave .fill1 {
    display: none;
  }
}
.wave .custom-shape-divider-top-1614958383 {
  position: absolute;
  top: 46px;
  left: -1px;
  width: 100.1%;
  overflow: hidden;
  line-height: 0;
  z-index: 1;
}
@media only screen and (max-width: 540px) {
  .wave .custom-shape-divider-top-1614958383 {
    display: none;
  }
}
.wave .custom-shape-divider-top-1614958383 svg {
  position: relative;
  display: block;
  width: calc(136% + 1.3px);
  height: 175px;
  transform: rotate(0.6deg);
}
.wave .custom-shape-divider-top-1614958383 .shape-fill {
  fill: #121212;
}
.wave .custom-shape-divider-bottom-1614959127-5 {
  position: absolute;
  top: -74px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: 1;
}
@media only screen and (max-width: 1215px) {
  .wave .custom-shape-divider-bottom-1614959127-5 {
    top: -64px;
    width: 100%;
    overflow: hidden;
  }
}
@media only screen and (max-width: 600px) {
  .wave .custom-shape-divider-bottom-1614959127-5 {
    width: 100%;
  }
}
@media only screen and (max-width: 540px) {
  .wave .custom-shape-divider-bottom-1614959127-5 {
    display: none;
  }
}
.wave .custom-shape-divider-bottom-1614959127-5 svg {
  position: relative;
  display: block;
  width: calc(156% + 1.3px);
  height: 230px;
  transform: rotate(3deg);
}
@media only screen and (max-width: 1200px) {
  .wave .custom-shape-divider-bottom-1614959127-5 svg {
    transform: rotate(4deg);
  }
}
@media only screen and (max-width: 890px) {
  .wave .custom-shape-divider-bottom-1614959127-5 svg {
    transform: rotate(5deg);
  }
}
@media only screen and (max-width: 700px) {
  .wave .custom-shape-divider-bottom-1614959127-5 svg {
    transform: rotate(7deg);
  }
}
.wave .custom-shape-divider-bottom-1614959127-5 .shape-fill {
  fill: #121212;
}
.wave .color {
  width: 100%;
  height: 110px;
  background: linear-gradient(-45deg, #9300FF, #D800FF, #FF0000, #FFFF00 100px, #00C4FF, #0A00FF);
  position: absolute;
  top: 46px;
  left: 0;
  transform: rotate(0deg);
  animation: rotate 1.5s linear infinite;
}
@media only screen and (max-width: 1215px) {
  .wave .color {
    height: 120px;
  }
}
@media only screen and (max-width: 540px) {
  .wave .color {
    height: 20px;
    top: 9px;
  }
}
.wave .fill2 {
  position: absolute;
  height: 100px;
  width: 20%;
  background-color: #121212;
  top: 146px;
  left: -3px;
  z-index: 3;
  transform: rotate(3deg);
}
@media only screen and (max-width: 1215px) {
  .wave .fill2 {
    top: 156px;
    width: 22%;
    transform: rotate(4deg);
  }
}
@media only screen and (max-width: 850px) {
  .wave .fill2 {
    transform: rotate(6deg);
    width: 22%;
    left: -5px;
    top: 156px;
  }
}
@media only screen and (max-width: 540px) {
  .wave .fill2 {
    display: none;
  }
}

@keyframes rotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #121212;
}

.container {
  max-width: 1500px;
  margin: 0 auto !important;
}

#phone {
  display: none;
}
@media only screen and (max-width: 950px) {
  #phone {
    display: block;
  }
}

#fullwidth {
  display: block;
}
@media only screen and (max-width: 950px) {
  #fullwidth {
    display: none;
  }
}

.header {
  position: relative;
  z-index: 2;
}
.header nav {
  display: flex;
  align-items: center;
  padding: 15px 3%;
  background-color: #121212;
  justify-content: space-between;
}
@media only screen and (max-width: 750px) {
  .header nav {
    padding: 2% 3%;
  }
}
.header nav #logo img {
  width: 170px;
}
@media only screen and (max-width: 750px) {
  .header nav #logo img {
    width: 27%;
    min-width: 100px;
  }
}
.header nav .menu .menuBars {
  display: none;
}
@media only screen and (max-width: 750px) {
  .header nav .menu .menuBars {
    display: block;
  }
}
.header nav .menu .menuBars .line {
  width: 60px;
  height: 5px;
  background: #FFFFFF;
  margin: 8px 0;
}
.header nav .menu .menuBars .line:nth-child(2) {
  width: 45px;
  margin-left: auto;
}
.header nav .menu .menuBars .line:nth-child(3) {
  width: 30px;
  margin-left: auto;
}
.header nav .menu .navlinks {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 750px) {
  .header nav .menu .navlinks {
    display: none;
  }
}
.header nav .menu .navlinks li {
  font-family: "Oswald", sans-serif;
  font-size: 23px;
  margin: 0 20px;
  list-style: none;
  color: #FFFFFF;
}
.header nav .menu .navlinks li:nth-child(3) {
  background: linear-gradient(#9300FF, #D800FF, #FF0000, #FFFF00 100px, #00C4FF, #0A00FF);
  animation: rotate 1.5s linear infinite;
  border-radius: 10px;
  padding: 5px;
  animation: rotate 1.5s linear infinite;
}
.header nav .menu .navlinks li:nth-child(3) div {
  width: 100%;
  padding: 7px 15px;
  border-radius: 10px;
  background-color: #121212;
}
.header .homeImg {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.header .homeImg h2 {
  font-family: "Oswald", sans-serif;
  font-size: 100px;
  color: #FFFFFF;
  grid-column: 2;
  text-align: center;
  grid-row: 2;
  z-index: 1;
}
@media only screen and (max-width: 850px) {
  .header .homeImg h2 {
    font-size: 80px;
  }
}
@media only screen and (max-width: 400px) {
  .header .homeImg h2 {
    font-size: 70px;
  }
}
.header .homeImg img {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
}

.bio {
  background-color: #121212;
  position: relative;
  z-index: 2;
  top: 154px;
  display: flex;
  justify-content: center;
  padding: 15% 7%;
}
@media only screen and (max-width: 1215px) {
  .bio {
    top: 164px;
  }
}
@media only screen and (max-width: 990px) {
  .bio {
    flex-wrap: wrap;
    padding: 130px 7%;
  }
}
@media only screen and (max-width: 540px) {
  .bio {
    top: 29px;
  }
}
.bio .profile {
  display: flex;
  align-items: center;
  margin-right: 10%;
  justify-content: center;
}
@media only screen and (max-width: 600px) {
  .bio .profile {
    margin: 0 15%;
  }
}
.bio .profile img {
  border-radius: 50%;
  width: 250px;
  min-width: 200px;
  margin-right: 30px;
}
@media only screen and (max-width: 990px) {
  .bio .profile img {
    width: 22%;
  }
}
@media only screen and (max-width: 540px) {
  .bio .profile img {
    min-width: 50%;
  }
}
@media only screen and (max-width: 325px) {
  .bio .profile img {
    margin-right: 10px;
  }
}
.bio .profile .title h3 {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  color: #FFFFFF;
}
@media only screen and (max-width: 990px) {
  .bio .profile .title h3 {
    font-size: 35px;
  }
}
@media only screen and (max-width: 540px) {
  .bio .profile .title h3 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 325px) {
  .bio .profile .title h3 {
    font-size: 27px;
  }
}
.bio .profile .title .underline {
  width: 220px;
  background-color: #FFFFFF;
  height: 2px;
}
@media only screen and (max-width: 540px) {
  .bio .profile .title .underline {
    width: 175px;
  }
}
@media only screen and (max-width: 325px) {
  .bio .profile .title .underline {
    width: 150px;
  }
}
.bio .profile .title p {
  color: #666666;
  font-size: 22px;
  font-family: "Oswald", sans-serif;
}
@media only screen and (max-width: 540px) {
  .bio .profile .title p {
    font-size: 18px;
  }
}
.bio .content {
  align-items: flex-end;
  margin-top: 10%;
}
.bio .content p {
  font-family: "Cardo", serif;
  font-size: 23px;
  color: #FFFFFF;
  width: 100%;
}
@media only screen and (max-width: 1165px) {
  .bio .content p {
    font-size: 18px;
  }
}
@media only screen and (max-width: 990px) {
  .bio .content p {
    font-size: 20px;
    padding: 0 7%;
    text-align: center;
  }
}
@media only screen and (max-width: 540px) {
  .bio .content p {
    font-size: 18px;
  }
}

.sec1 {
  background-color: #121212;
  padding: 20% 5%;
  margin-top: 46px;
}
@media only screen and (max-width: 1215px) {
  .sec1 {
    margin-top: 166px;
  }
}
@media only screen and (max-width: 1200px) {
  .sec1 {
    flex-wrap: wrap;
    padding: 28% 5%;
  }
}
@media only screen and (max-width: 540px) {
  .sec1 {
    margin-top: 29px;
  }
}
.sec1 h2 {
  color: #FFFFFF;
  font-family: "Oswald", sans-serif;
  font-size: 40px;
}
@media only screen and (max-width: 950px) {
  .sec1 h2 {
    font-size: 70px;
    padding-left: 5%;
  }
}
@media only screen and (max-width: 540px) {
  .sec1 h2 {
    font-size: 55px;
  }
}
@media only screen and (max-width: 325px) {
  .sec1 h2 {
    font-size: 50px;
  }
}
.sec1 p {
  color: #FFFFFF;
  font-size: 22px;
  font-family: "Cardo", serif;
  padding: 3%;
  width: 62%;
}
@media only screen and (max-width: 1165px) {
  .sec1 p {
    font-size: 18px;
  }
}
@media only screen and (max-width: 990px) {
  .sec1 p {
    font-size: 20px;
  }
}
@media only screen and (max-width: 950px) {
  .sec1 p {
    padding: 10% 7%;
    width: 100%;
    text-align: center;
  }
}
@media only screen and (max-width: 540px) {
  .sec1 p {
    font-size: 18px;
  }
}
.sec1 .imgContainer {
  position: relative;
  right: 0;
}
@media only screen and (max-width: 1100px) {
  .sec1 .imgContainer {
    margin-top: -10%;
  }
}
@media only screen and (max-width: 950px) {
  .sec1 .imgContainer {
    display: none;
  }
}
.sec1 .imgContainer img {
  width: 30%;
  position: absolute;
  bottom: -150px;
  right: 15px;
  z-index: 1;
}
.sec1 .imgContainer .border {
  width: 30%;
  padding-top: 42%;
  border: 4px solid #FFFFFF;
  position: absolute;
  bottom: -100px;
  right: -20px;
}

.sloganContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto 1fr;
}
.sloganContainer .h2Container {
  padding: 2%;
  margin: 0 5%;
  grid-column: 1;
  grid-row: 2;
  z-index: 9;
}
@media only screen and (max-width: 950px) {
  .sloganContainer .h2Container {
    margin: 0;
    padding: 0%;
  }
}
.sloganContainer .h2Container h2 {
  font-family: "Oswald", sans-serif;
  font-size: 70px;
  font-weight: 300;
  text-align: center;
  padding: 2%;
  margin: 0 13%;
  background-color: #FFFFFF;
}
.sloganContainer .h2Container h2:nth-child(2) {
  color: #FFFFFF;
  background-color: black;
}
@media only screen and (max-width: 1100px) {
  .sloganContainer .h2Container h2 {
    font-size: 55px;
  }
}
@media only screen and (max-width: 950px) {
  .sloganContainer .h2Container h2 {
    margin: 0;
    font-size: 9vw;
  }
}
@media only screen and (max-width: 560px) {
  .sloganContainer .h2Container h2 {
    font-size: 10vw;
  }
}
@media only screen and (max-width: 540px) {
  .sloganContainer .h2Container h2 {
    font-size: 11vw;
  }
}
.sloganContainer img {
  width: 100%;
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 5;
}

.sec2 {
  background: #121212;
  padding: 17.5% 5% 330px;
}
@media only screen and (max-width: 950px) {
  .sec2 {
    padding-bottom: 0%;
  }
}
.sec2 h2 {
  color: #FFFFFF;
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  margin-bottom: 3%;
}
@media only screen and (max-width: 950px) {
  .sec2 h2 {
    font-size: 70px;
    padding-left: 5%;
    margin-bottom: 0%;
  }
}
@media only screen and (max-width: 540px) {
  .sec2 h2 {
    font-size: 55px;
  }
}
@media only screen and (max-width: 325px) {
  .sec2 h2 {
    font-size: 50px;
  }
}
.sec2 p {
  color: #FFFFFF;
  font-size: 22px;
  font-family: "Cardo", serif;
  padding: 0 3% 3%;
  width: 62%;
  margin-bottom: 5%;
}
@media only screen and (max-width: 1165px) {
  .sec2 p {
    font-size: 18px;
    margin-bottom: 1%;
  }
}
@media only screen and (max-width: 990px) {
  .sec2 p {
    font-size: 20px;
    margin-bottom: -5%;
  }
}
@media only screen and (max-width: 950px) {
  .sec2 p {
    padding: 10% 7% 22.5%;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 540px) {
  .sec2 p {
    font-size: 18px;
  }
}
.sec2 .fullImageCollage {
  position: relative;
  top: 220px;
}
@media only screen and (max-width: 950px) {
  .sec2 .fullImageCollage {
    display: none;
  }
}
.sec2 .fullImageCollage img:nth-child(1) {
  width: 41%;
  position: absolute;
  bottom: 0;
  right: 19%;
}
.sec2 .fullImageCollage div img:nth-child(1) {
  width: 14.5%;
  position: absolute;
  right: 19%;
  bottom: 0;
  margin-bottom: 19%;
}
.sec2 .fullImageCollage div img:nth-child(2) {
  width: 18%;
  position: absolute;
  right: 0;
  bottom: 0;
}
.sec2 .phoneImageCollage {
  display: none;
}
@media only screen and (max-width: 950px) {
  .sec2 .phoneImageCollage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr auto;
    margin: 0 -5%;
    padding: 1% 0;
  }
  .sec2 .phoneImageCollage img:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
  }
  .sec2 .phoneImageCollage img:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
    width: 100%;
  }
  .sec2 .phoneImageCollage img:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
    width: 100%;
  }
}

.footer {
  background: #FFFFFF;
  padding: 1% 0;
}
@media only screen and (max-width: 775px) {
  .footer {
    position: relative;
  }
}
.footer .translateContainer {
  margin: 1%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media only screen and (max-width: 775px) {
  .footer .translateContainer {
    position: absolute;
    right: 1%;
    bottom: 2%;
  }
}
.footer .translateContainer img {
  width: 30px;
  margin: 0 5px;
}
@media only screen and (max-width: 1030px) {
  .footer .translateContainer img {
    width: 25px;
  }
}
@media only screen and (max-width: 775px) {
  .footer .translateContainer img {
    width: 35px;
  }
}
@media only screen and (max-width: 540px) {
  .footer .translateContainer img {
    width: 28px;
  }
}
.footer .translateContainer .lanContainer {
  display: none;
}
.footer .translateContainer .lanContainer ul {
  display: flex;
  list-style: none;
  font-family: "Cardo", serif;
  color: #959595;
}
.footer .translateContainer .lanContainer ul li {
  margin: 12px;
}
.footer h2 {
  font-family: "Oswald", sans-serif;
  color: #121212;
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  border-bottom: 4px solid #121212;
  margin: 0 20.5%;
}
@media only screen and (max-width: 1450px) {
  .footer h2 {
    font-size: 3.5vw;
  }
}
@media only screen and (max-width: 1130px) {
  .footer h2 {
    margin: 5% 15% 10%;
    font-size: 4.2vw;
  }
}
@media only screen and (max-width: 775px) {
  .footer h2 {
    font-size: 6.5vw;
    border: none;
    margin: 7% 7% 10%;
  }
}
@media only screen and (max-width: 580px) {
  .footer h2 {
    font-size: 8.4vw;
  }
}
.footer .bottom {
  margin-top: 6%;
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 775px) {
  .footer .bottom {
    flex-wrap: wrap;
  }
}
.footer .bottom .media {
  display: flex;
  width: 30%;
  align-items: flex-end;
}
@media only screen and (max-width: 775px) {
  .footer .bottom .media {
    width: 80%;
    margin: 0 10% 10%;
    align-items: center;
    flex-wrap: wrap;
  }
}
.footer .bottom .media a {
  text-decoration: none;
  margin: 0 3%;
}
@media only screen and (max-width: 775px) {
  .footer .bottom .media a .contain {
    padding: 4% 0 3%;
    display: flex;
    flex-wrap: none;
    align-items: center;
    border-bottom: 2px solid black;
  }
  .footer .bottom .media a .contain:hover {
    background: #EBEBEB;
  }
}
.footer .bottom .media a .contain img {
  width: 27px;
  margin: 0 2.5%;
}
@media only screen and (max-width: 775px) {
  .footer .bottom .media a .contain img {
    width: 7%;
    min-width: 35px;
  }
}
@media only screen and (max-width: 400px) {
  .footer .bottom .media a .contain img {
    min-width: 25px;
  }
}
.footer .bottom .media a .contain p {
  display: none;
  margin-left: 2%;
  color: black;
  font-size: 24px;
  font-family: "Oswald", sans-serif;
}
@media only screen and (max-width: 775px) {
  .footer .bottom .media a .contain p {
    display: block;
  }
}
@media only screen and (max-width: 580px) {
  .footer .bottom .media a .contain p {
    font-size: 18px;
  }
}
.footer .bottom .btnContainer {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 775px) {
  .footer .bottom .btnContainer {
    display: none;
  }
}
.footer .bottom .btnContainer a {
  text-decoration: none;
}
.footer .bottom .btnContainer a .outer {
  background: linear-gradient(#9300FF, #D800FF, #FF0000, #FFFF00 100px, #00C4FF, #0A00FF);
  animation: rotate 1.5s linear infinite;
  width: 150px;
  padding: 5px;
  border-radius: 7px;
}
@media only screen and (max-width: 1030px) {
  .footer .bottom .btnContainer a .outer {
    width: 120px;
  }
}
.footer .bottom .btnContainer a .outer .inner {
  text-align: center;
  background: #121212;
  padding: 5px;
  color: #FFFFFF;
  font-size: 23px;
  font-family: "Oswald", sans-serif;
  border-radius: 7px;
}
@media only screen and (max-width: 1030px) {
  .footer .bottom .btnContainer a .outer .inner {
    font-size: 20px;
  }
}
.footer .bottom .logoContainer {
  width: 30%;
  height: auto;
  display: flex;
  justify-content: flex-end;
}
@media only screen and (max-width: 775px) {
  .footer .bottom .logoContainer {
    justify-content: flex-start;
    width: 100%;
    align-items: flex-end;
    margin: 0 3% 1%;
  }
}
.footer .bottom .logoContainer img {
  width: 40%;
  min-width: 140px;
}
@media only screen and (max-width: 775px) {
  .footer .bottom .logoContainer img {
    justify-content: flex-start;
    width: 25%;
  }
}
@media only screen and (max-width: 540px) {
  .footer .bottom .logoContainer img {
    min-width: 110px;
  }
}

/*# sourceMappingURL=styles.css.map */
