//@import ./styles.sass
//Fonts
$classFont: 'Cardo', serif
$modFont: 'Oswald', sans-serif

//Colors
$primeWhite: #FFFFFF
$primeBlack: #121212
$primeGrey: #666666

//RGB
$rgbsecBlue: #00C4FF
$rgbBlue: #0A00FF
$rgbGreen: #49fb35
$rgbRed: #FF0000
$rgbPink: #D800FF
$rgbPurple: #9300FF
$rgbYellow: #FFFF00

$tran: -15px

@mixin rgb()
    background: linear-gradient(#9300FF,#D800FF, #FF0000, #FFFF00 100px, #00C4FF, #0A00FF)
    animation: rotate 1.5s linear infinite

@keyframes rotate
    0%
        filter: hue-rotate(0deg)
    100%
        filter: hue-rotate(360deg)

@mixin mQ($arg)
    @media only screen and (max-width: $arg)
        @content

@keyframes bar1In
    0%
        margin: 0

    100%
        transform: rotate(45deg)
        margin: 10px 0px 0 20px
        width: 40px


@keyframes bar2In
    0%
        width: 45px
        margin-left: auto
        margin: 9.5px 0

    100%
        transform: rotate(-45deg)
        width: 40px


@keyframes bar1out
    0%
        transform: rotate(45deg)
        margin: 10px 0px 0 20px
        width: 40px

    100%
        margin: 0
        transform: rotate(0deg)

@keyframes bar2out
    0%
        transform: rotate(-45deg)
        width: 40px

    100%
        transform: rotate(0deg)
        width: 45px
        margin-left: auto
        margin: 9.5px 0


@keyframes headerFade
    0%
        opacity: 0
    20%
        opacity: 1
    80%
        opacity: 1
    100%
        opacity: 0

@keyframes fadeInAni
    0%
        opacity: 0
    100%
        opacity: 1

@keyframes slideAni
    0%
        opacity: 0
    100%
        opacity: 1
        transform: translate(0px)

@keyframes planeAni
    100%
        transform: translate(-35px, 33px)

@keyframes popAni
    0%
        transform: scale(1)
    50%
        transform: scale(1.2)
    100%
        transform: scale(1)
    // 0%
    //     opacity: 0
    // 100%
    //     opacity: 1



.fadeIn
    animation: fadeInAni 2s ease-out

.slide
    opacity: 0
    animation: slideAni 1s ease-out

.planeClass
    //transition-duration: 3s
    //transform: translate(-35px, 33px)
    animation: planeAni 2s ease-out

.pop
    animation: popAni 1s linear
